{{#partial "content"}}
    <section class="landing-pg"style="background-image:url('images/last.jpg');background-repeat:no-repeat;background-size:cover;color:white;padding:6%;padding-left:40%;">

        <h2 style="color:grey;"> <a class="btns" href="/hero-form" style="color:black;">CREATE YOUR OWN HEROES</a> <br><br> Current Hero</h2>
        <div class="heroes"  style="font-size:5px;" >
                <div class="hero-item" style="font-size:18px;;">
                    <p>Name: {{ name }} </p>
                    <p>Age: {{ age }}</p>
                    <p>Special power: {{ power }}</p>
                    <p>Weakness: {{ weakness }}</p>
                    <p>Id: {{ id }}</p>
                    <a href="new/{{id}}" class="btns">Learn More</a>
                    <a href="/squad" class="btns">Add {{ name }} To Squad</a>
                </div>

        </div>
    </section>
{{/partial}}
{{> layout.hbs}}