{{#partial "content"}}
    <section class="landing-pg"style="background-image:url('images/img2.jpg');background-repeat:no-repeat;background-size:cover;color:red;">

        <h2> <a class="btns" href="/hero-form" >CREATE YOUR OWN HEROES</a> <br><br> Current Heroes</h2>
        <div class="heroes"  style="font-size:5px;" >
            {{#each hero}}
                <div class="hero-item" style="font-size:15px;;">
                    <p>Name: {{ name }} </p>
                    <p>Age: {{ age }}</p>
                    <p>Special power: {{ power }}</p>
                    <p>Weakness: {{ weakness }}</p>
                    <p>Id: {{ id }}</p>
                    <a href="new/{{id}}" class="btns">Learn More</a>
                    <a href="/squad" class="btns">Add {{ name }} To Squad</a>
                </div>

            {{/each}}
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}